@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<title>_TableProject</title>
@{
}
@model List<ProgectModel>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />



    <!-- Scripts -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>


<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 wrapper">
    <h2 class="text-2xl font-bold mb-4">Проекты</h2>
    <table border="1" id="example" class="table-auto w-full bg-orange-500">
        <thead>
            <tr>
                <th class="px-4 py-2">П/п</th>
                <th class="px-4 py-2">Id заказа</th>
                <th class="px-4 py-2">Имя проекта/изделие</th>
                <th class="px-4 py-2">Заказчик:фирма/ответственное лицо за заказ/телефон/адрес</th>
                <th class="px-4 py-2">Дата поступления заказа</th>
                <th class="px-4 py-2">Дата согласования заказа</th>
                @if (ViewBag.Role != "shop_worker")
                {
                    <th class="px-4 py-2">Прилагаемые файлы</th>
                }
                <th class="px-4 py-2">Файл для согласования</th>
                <th class="px-4 py-2">Заказ в производство</th>
                <th class="px-4 py-2">Статус заказа</th>
                <th class="px-4 py-2">Примечания</th>
            </tr>
        </thead>
        <tbody>

            @* Список для вывода данных в таблицу *@
            @{
                if (Model ==null)
                {
                    <p>нет данных</p>
                }
                else
                {
                        
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="border px-4 py-2"></td>
                            <td class="border px-4 py-2">@item.IdProjectModel.ToString("D5")</td>
                            <td class="border px-4 py-2">@item.NameProjectModel</td>
                            <td class="border px-4 py-2">@item.ClientNameProjectModel</td>
                            <td class="border px-4 py-2">@item.BeginTime.ToString("dd.MM.yy")</td>
                            <td class="border px-4 py-2">@item.CoordinationTime.ToString("dd.MM.yy")</td>
                            @if (ViewBag.Role != "shop_worker")
                            {
                                <td class="border px-4 py-2">
                                    @foreach (var files in item.ClientFileProjectModel) @*передача файлов*@
                                    {
                                        <ul style="list-style-type" >
                                            <list>@files.NameModelFileClient</list>
                                        </ul>
                                    }
                                </td>
                            }
                            @*Начало .. Файлы для согласования*@
                            <td class="border px-4 py-2">Нет файлов
                                @if (ViewBag.Role != "shop_worker" && ViewBag.Role != "menedger")
                                {
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="multiple_files"></label>
                                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="multiple_files" type="file" multiple>
                                }
                            </td>  @*Конец .. Файлы для согласования*@
                            
                                @*Запуск в производство*@
                            <td class="border px-4 py-2">
                                @{
                                    if (item.OrderInManufaction == true)
                                    {
                                        <img src="@Url.Content("~/Image_project/Ok.jpg")" class="rounded mx-auto d-block" height="30" width="30">
                                    }
                                }
                            </td>  
                            @*Блок статуса заказа*@
                            <td class="border px-4 py-2 align-middle text-xs whitespace-nowrap p-4">
                                <div class="flex items-center">
                                    <span class="mr-2 text-xs font-medium">@item.StatusOrder%</span>
                                    <div class="relative w-full">
                                        <div class="w-full bg-gray-200 rounded-sm h-2">
                                            <div class="bg-cyan-600 h-2 rounded-sm" style="width: @item.StatusOrder%"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @*Конец блока статуса заказа *@

                            <td class="border px-4 py-2"> @item.NotesProjectModel;</td>
                        </tr>
                    }
                }
            }




            <!-- Add more rows as needed -->
        </tbody>
    </table>
    <style>
        .dataTables_length select {
            width: 60px; /* Измените значение по вашему усмотрению */
            height: 40px; /* Измените значение по вашему усмотрению */
            font-size: 14px; /* Измените значение по вашему усмотрению */
        }

        table tbody tr {
            counter-increment: rowNumber;
        }

            table tbody tr td:first-child::before {
                content: counter(rowNumber);
            }

    </style>



</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            // Add any customization options here
        });
    });
</script>

